*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 72.75%; } }
  @media only screen and (min-width: 117.5em) {
    html {
      font-size: 97.75%; } }
  @media only screen and (min-width: 147.5em) {
    html {
      font-size: 122.75%; } }
  @media only screen and (min-width: 177.5em) {
    html {
      font-size: 147.75%; } }
  @media only screen and (min-width: 207.5em) {
    html {
      font-size: 172.75%; } }
  @media only screen and (min-width: 237.5em) {
    html {
      font-size: 197.75%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

::selection {
  background-color: #38e182;
  color: #fff; }

.grid {
  display: grid;
  grid-gap: 1rem; }

.grid2 {
  grid-template-columns: repeat(2, 1fr); }

.grid3 {
  grid-template-columns: repeat(3, 1fr); }

.grid4 {
  grid-template-columns: repeat(4, 1fr); }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff; }

.primaryColor {
  display: inline-block;
  background: linear-gradient(to right, #2bde8c, #7aef4e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem; }

.textMuted {
  font-size: 1.3rem;
  color: #dfdfdf; }

.textLight {
  font-size: 1.4rem;
  color: #888; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h3 {
  font-size: 2.2rem; }

h4 {
  text-transform: uppercase; }

h5 {
  font-size: 1.6rem; }

h6 {
  font-size: 1.4rem; }

p {
  line-height: 150%;
  color: #6f6f6f; }

.btn, .btn:link, .btn:visited {
  color: #fff;
  background-image: linear-gradient(to right, #2bde8c, #7aef4e);
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: .5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 2.5rem;
  transition: .2s all ease;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.btn-radius {
  padding: 1rem 2rem !important;
  border-radius: 100px !important;
  font-size: 1.6rem !important; }
  .btn-radius:hover {
    box-shadow: 0 1rem 2rem rgba(56, 225, 130, 0.2);
    color: #fff !important; }
  .btn-radius:active, .btn-radius:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(56, 225, 130, 0.2); }

.card {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem .1rem #dfdfdf; }

.mainSection .container {
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
  padding: 5rem 1.5rem; }

.showcase > div:not(:last-child) {
  margin-bottom: 5rem; }

.showcaseTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem; }

.searchResultSection {
  display: none;
  position: relative;
  min-height: calc(100vh - 7rem); }
  .searchResultSection .container {
    grid-gap: 4rem; }
  .searchResultSection .searchResultTop {
    margin: 2rem 0; }

.map {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0; }

.searchTerms > h3 {
  margin-bottom: 3rem; }

.searchTerms .searchDate {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .searchTerms .searchDate .card {
    width: 48%; }

.searchTerms .searchGuestsTop {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

.searchTerms .searchGuestsType > div {
  display: flex;
  justify-content: space-between; }
  .searchTerms .searchGuestsType > div:not(:last-child) {
    margin-bottom: 3rem; }
  .searchTerms .searchGuestsType > div > h4 {
    display: flex;
    align-items: center; }

.searchTerms .searchGuests button {
  margin: 0 2rem;
  border: none;
  background-color: transparent;
  font-size: 2.5rem; }
  .searchTerms .searchGuests button:focus, .searchTerms .searchGuests button:active {
    border: none;
    outline: none; }

.searchTerms input {
  width: 100%;
  padding: 1rem 0;
  border: none; }
  .searchTerms input:focus, .searchTerms input:active {
    border: none;
    outline: none; }
  .searchTerms input::placeholder {
    font-size: 1.3rem;
    color: #dfdfdf; }

.searchTerms > button {
  width: 100%; }

.mainContent {
  padding: 5rem 1.5rem; }
  .mainContent .advantage {
    padding: 2rem 0;
    margin: 1rem 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }
    .mainContent .advantage ul {
      list-style-type: none; }
      .mainContent .advantage ul li {
        line-height: 150%; }
        .mainContent .advantage ul li h5 {
          margin-top: 1rem; }
  .mainContent .card {
    width: 40rem;
    height: fit-content;
    margin: 2rem auto; }
    .mainContent .card > p {
      margin-bottom: 1rem; }
    .mainContent .card .border {
      border: 1px solid #dfdfdf;
      border-radius: .5rem;
      padding: 1rem 2rem;
      margin-bottom: 2rem; }
    .mainContent .card .cost, .mainContent .card .total {
      margin-bottom: 1rem;
      padding: 0 2rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .mainContent .card .cost {
      border-bottom: 1px solid #dfdfdf; }
    .mainContent .card .btn {
      width: 100%; }

header {
  width: 100%;
  z-index: 500;
  border-bottom: 1px solid #e1e1e1;
  padding: .5rem; }

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease-in-out;
  position: relative; }

.navbar .card {
  padding: 1.5rem 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navbar .card > * {
    margin: 0 1rem; }
  .navbar .card .date {
    margin: 0 0rem;
    padding: 0 1rem;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf; }
  .navbar .card svg {
    color: #38e182;
    cursor: pointer; }

.navbarMenu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 62em) {
    .navbarMenu {
      width: 0;
      height: 100vh;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10rem 0 0 0;
      background-color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s cubic-bezier(0.8, 0.1, 0.1, 0.8); } }
  .navbarMenu li {
    color: #fff;
    padding: .5rem 1.75rem;
    margin: .5rem;
    position: relative;
    transition: all .5s ease; }
    @media only screen and (max-width: 62em) {
      .navbarMenu li {
        padding: 1.5rem 2rem;
        text-align: center; } }
    .navbarMenu li a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #000;
      font-weight: 700;
      padding: .2rem 0;
      display: inline-block;
      transition: all .5s ease; }
      @media only screen and (max-width: 62em) {
        .navbarMenu li a {
          font-size: 1.6rem; } }
    .navbarMenu li ul {
      list-style-type: none;
      position: absolute;
      width: max-content;
      padding: 1rem;
      margin-top: .5rem;
      border-radius: .3rem;
      left: -999.9rem;
      z-index: 10; }
      @media only screen and (max-width: 62em) {
        .navbarMenu li ul {
          padding: 2rem;
          margin-top: 1.5rem; } }
      .navbarMenu li ul li {
        padding: .7rem; }
    .navbarMenu li:hover ul {
      left: 50%;
      transform: translateX(-50%); }
  .navbarMenu li:hover > a {
    color: #38e182; }
  .navbarMenu .active {
    color: #38e182; }
  .navbarMenu .dropdown::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .35rem;
    vertical-align: .15rem;
    content: "";
    border-top: .7rem solid;
    border-right: .65rem solid transparent;
    border-bottom: 0;
    border-left: .65rem solid transparent; }

.navbarCheckbox {
  position: absolute;
  left: -9999.9rem; }

.navbarButton {
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 1500;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 62em) {
    .navbarButton {
      display: block; } }

.navbarIcons {
  position: relative;
  margin-top: 3rem; }
  .navbarIcons, .navbarIcons::before, .navbarIcons::after {
    width: 3rem;
    height: .2rem;
    background-color: #000;
    display: inline-block; }
  .navbarIcons::before, .navbarIcons::after {
    content: "";
    position: absolute;
    left: 0;
    transition: .2s all ease; }
  .navbarIcons::before {
    top: -.8rem; }
  .navbarIcons::after {
    top: .8rem; }

.navbarButton:hover .navbarIcons::before {
  top: -1rem; }

.navbarButton:hover .navbarIcons::after {
  top: 1rem; }

@media only screen and (max-width: 62em) {
  .navbarCheckbox:checked ~ .navbarMenu {
    width: 50%; }
  .navbarCheckbox:checked + .navbarButton .navbarIcons {
    background-color: transparent; }
  .navbarCheckbox:checked + .navbarButton .navbarIcons::before {
    top: 0;
    transform: rotate(135deg); }
  .navbarCheckbox:checked + .navbarButton .navbarIcons::after {
    top: 0;
    transform: rotate(-135deg); } }

@media only screen and (max-width: 48em) {
  .navbarCheckbox:checked ~ .navbarMenu {
    width: 60%; } }

@media only screen and (max-width: 36em) {
  .navbarCheckbox:checked ~ .navbarMenu {
    width: 100%; } }
