header{
    width: 100%;
    z-index: 500;
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem;
}

.navbar{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .5s ease-in-out;
        position: relative;
    }

    .card{
        padding: 1.5rem 2rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >*{
            margin: 0 1rem;
        }

        .date{
            margin: 0 0rem;
            padding: 0 1rem;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
        }

        svg{
            color: $colorPrimary;
            cursor: pointer;
        }
    }
}